<div>
  {{computeresultInfo}}
</div>
<div>
  <button (click)="resetArrayGame()">
    reset
  </button>
  <button (click) = "getResult()">电脑推演</button>
</div>
<div align="center">
  <table border="1" cellpadding="10">
    <tr *ngFor = "let iRow of sudokuStruct;let rowId=index">
      <th  *ngFor = "let iCol of iRow;let colId=index" (click)="doChectItem(rowId,colId)" style="width:30px;height:30px"  [style.background-color]="getItemData(iCol,rowId, colId)">
        {{dataToString(iCol)}}
      </th>
    </tr>
  </table>
</div>
<div>
  <button *ngFor = "let num of arrayInputNum" (click)="onClickNum(num)">{{num}}</button>
  <button (click)= "removeNum()">x</button>
</div>